<% provide(:title, "About") %>

<h1>About</h1>
<h3>Test Assignment for Ruby on Rails programmer</h3>
  <h4>Functional requirements</h4>
  <p>I'm a person who is passionate about my own productivity. I want to manage my<br>
  tasks and projects more effectively. I need a simple tool that helps me control my<br>
  task-flow.<br>
  You must develop a back-end JSON API application.<br>
  The application should follow this functional specification.<br>
  Also, you can find a UI/UX prototype here.<br>
<h4>Technical requirements</h4>
  • It should be a back-end JSON API application.<br>
  • API requests and responses should follow the http://jsonapi.org/ conventions.<br>
  • You should use the following tools<br>
  • Ruby on Rails - as a backend framework.<br>
  • Postgresql - as an SQL database.<br>
  • Devise - as an authentication solution.<br>
  • DeviseTokenAuth - as a token-based authentication for Rails JSON APIs<br>
  • Cancancan - as an authorization solution.<br>
  • Carrierwave - files uploading solution.<br>
  • RSpec - as a test automation framework and tools to help you speed<br>
  up the testing process, such as DatabaseCleaner, FactoryGirl, Shoulda<br>
  Matchers, FFaker.<br>
  • You must create a detailed API documentation with Apipie-rails.<br>
  • You must add automation tests for models, controllers, requests. A test<br>
  coverage shouldage should be at least 80-90%.<br>
  <br>
  The result of the completed assignment should be the one that you are ready to show<br>
  for the final code review. Please, do not send us a half-done or incomplete applica-<br>
  tion. The code should be perfect from your own point of view. We will pay attention to<br>
  the quality of the code, auto-tests, and to whether the application is workable.<br>
  The code should be published on GitHub, and the application itself on Heroku (or on<br>
  another server you select).<br>
  We give you one week to complete this test assignment.<br>
